<div class="pagging">
    <ul>
        <li><a href="http://www.templatemo.com" target="_parent">Previous</a></li>
        <li><a href="http://www.templatemo.com/page/1" target="_parent">1</a></li>
        <li><a href="http://www.templatemo.com/page/2" target="_parent">2</a></li>
        <li><a href="http://www.templatemo.com/page/3" target="_parent">3</a></li>
        <li><a href="http://www.templatemo.com/page/4" target="_parent">4</a></li>
        <li><a href="http://www.templatemo.com/page/5" target="_parent">5</a></li>
        <li><a href="http://www.templatemo.com/page/6" target="_parent">6</a></li>
        <li><a href="http://www.templatemo.com/page/7" target="_parent">Next</a></li>
        <% if @back_to_top? : %>
            <a class="pagging_right" href="#site_title" title="ru.forwallpaper.com" rel="nofollow" >Back to Top</a>
        <% end %>
    </ul>
     <div class="clear"></div>
</div>