<div id="sidebar" class="right">
    	<div class="sidebar_box">
            <h3>Categories</h3>
            <div class="sidebar_box_content">
                <ul class="list_bullet">
                    <% for c in @categories : %>
                        <li><%- c %></li>
                    <% end %>
                </ul>
            </div>
		</div>
        <div class="sidebar_box">
            <h3>Popular Posts</h3>
            <div class="sidebar_box_content">
                <ul class="no_bullet">
                    <% for post in @popular_posts : %>
                    <li>
                        <a href="/blog/<%- post._id %>" class="header"><%- post.title %></a>
                        <%- post.text %>
                    </li>
                    <% end %>
                </ul>
			</div>
		</div>
    </div> <!-- END of sidebar -->
    <div class="clear"></div>