<% extend 'layout.html' %>

<div id="templatemo_middle_wrapper">
    <div id="templatemo_middle" class="wrapper">
        <div id="templatemo_slider">
            <div id="carousel">
                <div class="panel">
                    
                    <div class="details_wrapper">
                        
                        <div class="details">
                        
                            <div class="detail">
                                <h2><a href="#">Dolor sit amet</a></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec orci erat. Vestibulum id bibendum arcu. Curabitur eleifend felis sit amet orci eleifend in dignissim urna vestibulum. </p>
                                <a href="#" title="Read more" class="slider_more">Read more</a>
                            </div><!-- /detail -->
                            
                            <div class="detail">
                                <h2><a href="#">Lorem ipsum dolor</a></h2>
                                <p> Donec nec orci vel risus condimentum suscipit dapibus quis justo. Maecenas ipsum justo, imperdiet suscipit fringilla ut, varius ac leo.</p>
                                <a href="#" title="Read more" class="slider_more">Read more</a>
                            </div><!-- /detail -->
                            
                            <div class="detail">
                                <h2><a href="#">Aenean massa cum sociis</a></h2>
                                <p> Nam non lectus a nunc fringilla aliquet ac id lectus. Proin molestie iaculis lorem at convallis. Duis est nibh, dapibus eu tempor ac, varius in mauris.</p>
                                <a href="#" title="Read more" class="slider_more">Read more</a>
                            </div><!-- /detail -->
                            
                        
                        </div><!-- /details -->
                        
                    </div><!-- /details_wrapper -->
                    
                </div><!-- /panel -->

                    <a href="javascript:void(0);" class="previous" title="Previous" >Previous</a>
                    <a href="javascript:void(0);" class="next" title="Next">Next</a>
            
            <div id="slider-image-frame">
                <div class="backgrounds">
                    
                    <div class="item item_1">
                        <img src="images/slider/box.png" alt="image" />
                    </div><!-- /item -->
                    
                    <div class="item item_2">
                        <img src="images/slider/iMac.png" alt="image" />
                    </div><!-- /item -->
                    
                    <div class="item item_3">
                        <img src="images/slider/lock.png" alt="image" />
                    </div><!-- /item -->
                    
                </div><!-- /backgrounds -->
            </div>
        </div>
        </div> <!-- END of templatemo_slider -->
        
    </div>
    
</div>
<div id="templatemo_main" class="wrapper">
    <div class="col one_third">
        <h4>Aliquam mollis viverra massa</h4>
        <div class="img_frame img_frame_13 img_nom"><span></span>
            <img src="images/templatemo_image_02.jpg" alt="Image" />
        </div>
        <p>You may download and use <a href="http://www.templatemo.com/preview/templatemo_365_orando">Orando Template</a> for any purpose. Homepage features jQuery <a href="http://www.htmldrive.net/items/show/486/jQuery-dualSlider.html" target="_blank">Dual Slider</a>. Maecenas porttitor nunc a nisi consectetur porttitor. In eget rutrum augue. Sed semper posuere sodales.</p>
         <a href="#" class="more">More</a>
  </div>
    <div class="col one_third">
        <h4>Curabitur sed massa libero</h4>
        <div class="img_frame img_frame_13 img_nom"><span></span>
            <img src="images/templatemo_image_03.jpg" alt="Image" />
    </div>
        <p>At accumsan consequat, augue odio varius nibh, non commodo leo magna   In eget rutrum augue. Sed semper posuere sodales.</p>
         <a href="#" class="more">More</a>
    </div>
    <div class="col one_third no_margin_right">
        <h4>Turpis ante lobortis libero</h4>
        <div class="img_frame img_frame_13 img_nom"><span></span>
            <img src="images/templatemo_image_04.jpg" alt="Image" />
      </div>
        <p>Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow">CSS</a>. Nam mauris sapien, cursus sed egestas ut, aliquam ut sapien. Nullam et nulla ante. Proin at condimentum magna.</p>
         <a href="#" class="more">More</a>
    </div>
    
    <div class="clear h40"></div>
    <h2>Lorem Ipsum Dolor Sit Amet</h2>
    <div class="img_frame img_frame_12 img_nom img_fl"><span></span>
        <img src="images/templatemo_image_14.jpg" alt="Image" />
    </div> 
    <div class="half right">
    <p><em>Donec ultricies suscipit libero, sed dapibus purus pretium adipiscing. Nulla facilisi. Nunc venenatis nunc sed tellus dictum quis consectetur augue tristique.</em></p> 
        <ul class="list_bullet">
            <li class="flow">Etiam sodales, diam ac mollis pharetra.</li>
            <li class="flow">Ut porttitor tempus nibh dolor rutrum eget</li>
            <li class="flow">Mauris justo neque at imperdiet quis, varius vel</li>
            <li class="flow">Aliquam tincidunt sagittis bibendum</li>
            <li class="flow">Curabitur a mi sem. Ut a ante neque, ut ornare libero</li>
        </ul>
        <a href="#" class="more">More</a>
    </div>  
  
    <div class="clear"></div>
</div>